@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.outercontent {
	background-color: white;
}
.content {
	font-family: 'Roboto', sans-serif;
	padding: 1.5em;
	color: black;
	margin-top: 0;
}
.video {
	width: 100%;
	height: 40vw;
}
.pressshot {
	width: 100%;
	margin-bottom: 1em;
}
.bigspotify {
	border-radius: 12px;
	width: 100%;
	height: 380px;
}
.spotify {
	border-radius: 12px;
	width: 100%;
	height: 80px;
}
.soundcloud {
	width: 100%;
	height: 450px;
}
.innersoundcloud {
	margin: 0 10%;
	font-size: 10px;
	color: #cccccc;
	line-break: anywhere;
	word-break: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
	font-weight: 100;
}
.innersoundcloudlink {
	color: #cccccc;
	text-decoration: none;
}
.content h2 {
	font-family: 'Roboto', sans-serif;
}
p {
	font-size: 18px;
}
