@font-face {
	font-family: PylonsFont;
	src: url("./Scribble.ttf");
}
h1, h2, h3, h4 {
	font-family: PylonsFont;
	text-align: center;
}
h1 {
	font-size: 8em;
	font-style: normal;
}
h2 {
	font-size: 4em;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: lightgrey;
}
