* { box-sizing: border-box; }
body { 
}
.videoBackground {
	background-image: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ), url("../images/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -99;
}
.videoForeground,
.youtubeEmbed {
  position: absolute;
  min-width: 120%;
  min-height: 120%;
  top: -10%;
  left: -10%;
  pointer-events: none;
}
.foreground {
	top: 0;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
}
.content {
	color: #fff;
	z-index: 1;
	max-width: 60em;
	margin: auto;
}
@media (min-aspect-ratio: 16/9) {
  .videoForeground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .videoForeground { width: 300%; left: -100%; }
}
@media all and (min-width: 1100px) {
	.youtubeEmbed { opacity: 1; }
}
@media all and (max-width: 1100px) {
	.youtubeEmbed { opacity: 0; }
}
