.menu {
	letter-spacing: 0.12em;
	margin: 0;
}
.menu a {
	padding: 0.3em;
	text-decoration: none;
}
.menuText {
	margin: 0;
}
@media all and (min-width: 1100px) {
	.menu h2 {
		display: inline-block;
	}
	.menuLinks {
		display: table;
		margin: 0 auto;
	}
}
