@font-face {
	font-family: PylonsFont;
	src: url("./Scribble.ttf");
}
.desktopWidget {
    position: relative;
    text-align: center;
    width: 33%;
    height: auto;
    margin: 0 auto;
    float: left;
}
.desktopWidget p{
    font-size: 4em;
	font-family: PylonsFont;
}
.mobileWidget {
    width: 80%;
    height: auto;
    margin: 5% 10%;
    float: left;
}
.description {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}
.image {
    width:90%;
    max-height:90%;
    height: auto;
    margin: 5%;
    z-index: 0;
}
.desktopWidget:hover .description {
    visibility: visible;
    opacity: 1;
}
.desktopWidget:hover .image {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@media (max-width: 900px) {
	.desktopWidget { display: none }
}

@media (min-width: 900px) {
	.mobileWidget { display: none }
}
